@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
  }
}

@each $width, $val in $widths {
  .w-#{$width} {
    width: $val;
  }
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $val in $numbers {
  .grid-col-md-#{$val} {
    @include tablet {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  margin: auto;
}

.m-tablet {
  @include tablet {
    margin: 0 3rem;
  }
}

.p-3rem {
  @include pc {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
